version: 2.1

# Common executor configuration
executors:
  clojure:
    docker:
      - image: circleci/clojure:lein-2.9.1
    working_directory: ~/repo


# Job definitions
jobs:
  style:
    executor: clojure
    steps:
      - checkout
      - run:
          name: Install cljstyle CLI
          environment:
            CLJSTYLE_VERSION: 0.17.642
          command: |
            wget -O cljstyle.tgz https://github.com/greglook/cljstyle/releases/download/${CLJSTYLE_VERSION}/cljstyle_${CLJSTYLE_VERSION}_linux_amd64.tar.gz
            tar -xzf cljstyle.tgz
      - run:
          name: Check source formatting
          command: "./cljstyle check --stats style-stats.tsv"
      - store_artifacts:
          path: style-stats.tsv
          destination: style

  test:
    executor: clojure
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-test-{{ checksum "project.clj" }}
            - v1-test-
      - run: lein deps
      - run: lein check
      - run: lein test
      - save_cache:
          key: v1-test-{{ checksum "project.clj" }}
          paths:
            - ~/.m2


# Workflow definitions
workflows:
  version: 2
  build:
    jobs:
      - style
      - test
